body {
  background-color: #ddd;
  font-family: "Helvetica Neue", sans-serif;
  color: #444;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}

main {
  background-color: white;
  padding: 20px;
}

h1,
h2 {
  color: rgb(140, 76, 8);
}

section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}
